Cover.docx
.ipynb_checkpoints/netflix_rd_analysis-checkpoint.ipynb
01 - Cover.docx
01-Cover.pdf
02 - Content.docx
02-Content.pdf
03 - reference_apendix.docx
03-Appendix.pdf
MGT412_EMBAC2OCT2024021_Mahaitia_RANDRIANARIVO.pdf
